$brightnesses:(light, dark);

$colors-static: (whiteness, primary, secondary, thirdly, success, warning, error);
$colors-themepack:(main, main-deep, main-pale, accent, accent-deep, accent-pale);


$backgrounds-static: (panel, component, success, warning, error, highlight-pale, highlight, cloak);
$backgrounds-themepack:(main, main-deep, main-pale, accent, accent-deep, accent-pale);
