$mp-themepacks-custom:() !default;
$darken-ratio:10% !default;

$success:#8bc34a;
$warning:#ffC107;
$error:#f44336;

$mp-themepacks-default:(default:(main:#2196f3, accent:#ff9100));
$mp-themepacks: map-merge($mp-themepacks-default, $mp-themepacks-custom);
